.profile {
  display: block;
  border-radius: var(--mantine-radius-xs);

  &:hover {
    background-color: var(--mantine-color-gray-3);
  }

  &:active {
    background-color: var(--mantine-color-gray-4);
  }

  &:focus {
    background-color: var(--mantine-color-gray-5);
  }
}
